{% extends 'layouts/base.html' %}

{% load static %}

{% block user %}
Cajero
{% endblock %}

{% block content %}
    <h2 class="dashboard-heading">CREAR PEDIDO AL POR MAYOR</h2>

    {{error}}
    <main>
        <div class="left-column">
            <form action="/homeC/vendedoresCajero/crear_pedido/" method="POST">
                {% csrf_token %}
                {{form}}
                {{form1}}
        
                <button type="submit" class="btn btn-outline-primary">
                    Confirmar Pedido
                </button>
            </form>
        </div>

        <div class="right-column">
            <img src="{% static 'images/entrega-de-pedidos3.png' %}" alt="Pedidos" width="300" height="300">
        </div>
    </main>

    

    <a href="javascript:void(0);" class="back-button" onclick="window.history.back();">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
{% endblock %}