{% extends 'layouts/base.html' %}
{% load static %}

{%block user%}
Admin
{% endblock %}

{% block content %}

    <h2 class="dashboard-heading"> Editar Empleado </h2>

    {{error}}
    <main>
        <div class="left-column">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                {{error}}
        
                <button>
                    Guardar cambios
                </button>
            </form>
            <a href="{% url 'editar_empleado' empleado.id %}">
        </div>

        <div class="right-column">
            <img src="{% static 'images/avatar.png' %}" alt="Avatar" width="300" height="300">
        </div>
        
    </main>

    <a href="javascript:void(0);" class="back-button" onclick="window.history.back();">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
{% endblock %}