{% extends 'layouts/base.html' %}

{% block user %}
Admin
{% endblock %}

{% block content %}
<h2 class="dashboard-heading">Editar helado</h2>


<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    {{error}}
    <p></p>
    <button>
        Guardar cambios
    </button>
</form>
<a href="javascript:void(0);" class="back-button" onclick="window.history.back();">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
</a>
{% endblock %}