{% extends 'layouts/base.html' %}
{% load static %}


{% block user %}
Usuario
{% endblock %}

{% block content %}

    <h2 class="dashboard-heading">
        EDITAR PERFIL
    </h2>
    
    <main>
        
        
        <div class="left-column">
            <img src="{% static 'images/avatar.png' %}" alt="helado" width="300" height="300">
        </div>

        <div class="right-column">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
            </form>
        </div>
        
        
        
    </main>

    <a href="javascript:void(0);" class="back-button" onclick="window.location.href='{% url 'homeA' %}';">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
{% endblock %}