{% extends 'layouts/base.html' %}

{% block user %}
Admin
{% endblock %}

{% block content %}

    <h2 class="dashboard-heading">HOLA, ADMIN</h2>
    
    <div class="container py-5">
        <div class="row justify-content-center g-4">
            <!-- Card 1 -->
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <img src="../static/images/management.png" class="card-img-top" alt="Inventario">
                    <div class="card-body">
                        <h5 class="card-title">Inventario</h5>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <img src="../static/images/analitica.png" class="card-img-top" alt="Reportes">
                    <div class="card-body">
                        <h5 class="card-title">Reportes</h5>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <a href="gestionarEmpleado">
                        <img src="../static/images/empleado-del-mes.png" class="card-img-top" alt="Empleados">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Empleados</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}