{% extends 'layouts/base.html' %}

{% block user %}
Cajero
{% endblock %}

{% block content %}

    <h2 class="dashboard-heading">HOLA, CAJERO</h2>

    <div class="container py-5">
        <div class="row justify-content-center g-4">
            <!-- Card 1 -->
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <a href="pedidosCajero">
                        <img src="../static/images/entrega-rapida.png" class="card-img-top" alt="pedidos">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Vendedores</h5>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <a href="vendedoresCajero">
                        <img src="../static/images/entrega-rapida.png" class="card-img-top" alt="vendedores">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Pedido</h5>
                    </div>
                </div>
            </div>

            <!-- Card 3
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <a href="cajaCajero">
                        <img src="../static/images/caja-registradora.png" class="card-img-top" alt="caja">
                    </a>                    
                    <div class="card-body">
                        <h5 class="card-title">Caja</h5>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    
{% endblock %}