{% extends 'layouts/base.html' %}

{% block user %}
Admin
{% endblock %}

{% block content %}
    <h2 class="dashboard-heading">Helados</h2>
    <main class="container my-4">  <!-- Contenedor principal con margen superior e inferior -->

        <div class="scrollspy-example border rounded p-3 d-flex flex-column align-items-center"
        data-bs-spy="scroll" 
        data-bs-offset="0" 
        tabindex="0" 
        style="height: 500px; width: 1600px; ; overflow-y: auto; align-items: center;">


            {% for helado in helados %}
                <a href="{% url 'editarHelado' helado.id %}" class="text-decoration-none w-100" style="max-width: 600px;">
                    <div class="card mb-3 shadow-sm">
                        
                        <div class="card-header bg-primary text-white">
                            <b>Nombre: </b> {{ helado.nombre }}
                        <p></p>

                        </div>

                        <div class="card-body">
                            <p>
                                <b>Marca: </b> {{ helado.marca }}
                            </p>

                            <p>
                                <b>Activo:</b> 
                                {% if helado.activo %}
                                    ✅
                                {% else %}
                                    ❌
                                {% endif %}
                            </p>

                            <p>
                                <b>Descripcion: </b> {{ helado.descripcion }}
                            </p>

                            <p>
                                <b>Precio:</b>{{helado.valor}}
                            </p>

                            <p>
                                <b>Stock:</b>{{helado.stock}}
                            </p>

                        </div>
                    </div>

                </a>

                
            {% endfor %}

        </div>

    </main>

    <a href="javascript:void(0);" class="back-button" onclick="window.location.href='{% url 'inventarioAdmin' %}';">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
{% endblock %}