{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Helados</h1>

    <ul>
        {% for helado in helados %}
        <li>
            <a href="{% url 'buscarHelado' helado.id %}">
                <b>Marca: </b> {{ helado.marca }}
            <p></p>

            <b>Nombre: </b> {{ helado.nombre }}
            <p></p>

            <b>Descripcion: </b> {{ helado.descripcion }}
            <p></p>

            </a>
            <br>
            <!-- Botón de Editar -->
            <a href="{% url 'editarHelado' helado.id %}" class="btn btn-primary">Editar</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}