{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Buscar Correo</h1>

    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renderiza el formulario con los campos como párrafos -->
            
            {{ form2.as_p }}
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        </form>
    {% else %}
        <p>Formulario no disponible.</p>
    {% endif %}

    <h2>Resultados de búsqueda</h2>

    {% if user %}
        <ul>
            {% for pedido in pedidos %}
            <li>{{ user.username }} - {{ user.email }}</li>
                
                <h2>Cambiar Contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form2.as_p }}
                    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontro el correo.</p>
    {% endif %}
{% endblock %}
