{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recupera tu contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <div class="container">
        <h1>RECUPERA TU CONTRASEÑA</h1>
        <p>INGRESA TU CORREO ELECTRÓNICO O NÚMERO DE CELULAR PARA BUSCAR TU CUENTA.</p>
        <input type="text" placeholder="CORREO ELECTRÓNICO O NÚMERO DE CELULAR">
        <div class="buttons">
            <button class="cancel">CANCELAR</button>
            <button class="search">BUSCAR</button>
        </div>
    </div>
</body>
</html>
