{% extends 'layouts/base.html' %}

{% block user %}
Cajero
{% endblock %}

{% block content %}

<h2 class="dashboard-heading"> Pedidos </h2>
<main>
    <ul>
        {% for pedido in pedidos %}
        <li>
            <a href="{% url 'editar_pedido' pedido.id %}">
                <h3>{{pedido.codigo}}</h3>
                <p> {{pedido.fecha}} </p>
                <p> {{empleado.cleinte}} </p>
                
                <p></p>
                </a>
            
        </li>
        {% endfor %}
    </ul>
</main>


<a href="javascript:void(0);" class="back-button" onclick="window.history.back();">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
</a>
{% endblock %}