{% extends 'layouts/base.html' %}

{% block user %}
Cajero
{% endblock %}

{% block content %}

<h2 class="dashboard-heading"> Pedidos al por Mayor </h2>
<main class="container my-4">

    <div class="scrollspy-example border rounded p-3 d-flex flex-column align-items-center"
         data-bs-spy="scroll" 
         data-bs-offset="0" 
         tabindex="0" 
         style="height: 500px; width: 1600px; ; overflow-y: auto; align-items: center;">

        {% for pedido in pedidos %}
        <a href="{% url 'editar_pedido' pedido.codigo %}" class="text-decoration-none w-100" style="max-width: 600px;">
            <div class="card mb-3 shadow-sm">
                <div class="card-header bg-primary text-white">
                    Codigo: {{pedido.codigo}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{pedido.cliente}}</h5>
                    <p><b>Fecha: </b> {{pedido.fecha}}</p>
                </div>

            </div>
                
        </a>
            
        {% endfor %}
</main>


<a href="javascript:void(0);" class="back-button" onclick="window.history.back();">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
</a>
{% endblock %}