{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas - Helados UV</title>
    <link rel="stylesheet" href="{% static 'styles/pagina.css' %}">
</head>
<body>
    <header>
        <div class="header-background"></div>
        <h1>POLÍTICAS</h1>
    </header> 
   
    <main>
        <section>
            <h2>1. Política de Privacidad</h2>
            <ul>
                <li>
                    <p>Recolección de Información: Recopilamos información básica de los usuarios para mejorar la experiencia de navegación y personalizar el contenido. Esta información incluye, pero no se limita a, nombre, correo electrónico y preferencias de productos.</p>
                </li>
                <li>
                    <p>Uso de la Información: La información recopilada se utiliza para procesar pedidos, mejorar nuestros productos y servicios, y enviar notificaciones de promociones y novedades.</p>
                </li>
                <li>
                    <p>Protección de Información: Implementamos medidas de seguridad para proteger la información personal de nuestros clientes contra accesos no autorizados.</p>
                </li>
            </ul>
        </section>

        <section>
            <h2>2. Términos y Condiciones</h2>
            <ul>
                <li>
                    <p>Productos y Servicios: Ofrecemos una variedad de helados y postres, y nos esforzamos por brindar información precisa sobre ingredientes y precios. Sin embargo, los precios y la disponibilidad pueden variar sin previo aviso.</p>
                </li>
                <li>
                    <p>Compras y Pagos: Todos los pedidos realizados en nuestro sitio web están sujetos a confirmación y disponibilidad. Aceptamos varios métodos de pago seguros para tu comodidad.</p>
                </li>
                <li>
                    <p>Derechos de Propiedad Intelectual: El contenido y diseño de esta página son propiedad de <strong>Helados UV</strong>. Queda prohibido el uso sin autorización de cualquier contenido para fines comerciales.</p>
                </li>
            </ul>
        </section>

        <section>
            <h2>3. Política de Devoluciones y Reembolsos</h2>
            <ul>
                <li>
                    <p>Condiciones de Devolución: Debido a la naturaleza de nuestros productos, no aceptamos devoluciones una vez que los productos han sido entregados. Sin embargo, si hubiera un problema de calidad, te invitamos a contactarnos para una resolución.</p>
                </li>
                <li>
                    <p>Procedimiento para Reembolsos: En caso de un reembolso autorizado, el proceso puede tardar entre 7 y 10 días hábiles.</p>
                </li>
            </ul>
        </section>

        <section>
            <h2>4. Seguridad de Datos</h2>
            <ul>
                <li>
                    <p>Protección de Datos Personales: Nos comprometemos a proteger los datos personales de nuestros usuarios y solo los utilizaremos para los fines previstos en esta política.</p>
                </li>
            </ul>
        </section>
    </main>
    <a href="/" class="back-button" aria-label="Volver atrás">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 12H5M12 19l-7-7 7-7"/>
        </svg>
    </a>
</body>
</html>