{% extends 'layouts/base.html' %}
{% load static %}


{% block user %}
Admin
{% endblock %}

{% block content %}

    
    <h2 class="dashboard-heading">REPORTES</h2>
    
    <main>
        <div class="left-column">
            <!--<a href="#" class="button">
                REPORTES DE VENTA
            </a>-->
            <a href="/reporte_inventario" class="button">
                REPORTES DE INVENTARIO
            </a>
            <a href="#" class="button">
                REPORTES DE EMPLEADOS
            </a>
        </div>
        <div class="right-column">
            <div class="icon">
                <img src="{% static 'images/analitica.png' %}" alt="reportes">
            </div>
        </div>
    </main>

    <a href="javascript:void(0);" class="back-button" onclick="window.history.back();">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
    
{% endblock %}