{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y condiciones</title>
    <link rel="stylesheet" href="{% static 'styles/pagina.css' %}">
</head>
<body>
    <header>
        <div class="header-background"></div>
        <h1>TÉRMINOS Y CONDICIONES</h1>
    </header> 

    <main>
        <section>
            <h2>Año de vigencia: 2025 </h2>
            <ul>
                
                <p>Bienvenido a Helados UV, su fuente de helados artesanales. Al acceder a nuestro sitio web y realizar una compra, usted acepta los siguientes términos y condiciones. Si no está de acuerdo con estos términos, le pedimos que no use nuestro sitio.
                </p>
                
            </ul>
        </section>
        
        <section>
            <h2>1. Aceptación de Términos </h2>
            <ul>
                
                <p>Al utilizar nuestro sitio web y servicios, usted confirma que tiene al menos 18 años o cuenta con el consentimiento de un padre o tutor.
                </p>
                
            </ul>
        </section>
        
        <section>
            <h2>2. Productos y Precios  </h2>
            <ul>
                
                <p>Nos esforzamos por ofrecer información precisa sobre nuestros productos, incluyendo descripciones, precios y disponibilidad. Sin embargo, nos reservamos el derecho de modificar precios y disponibilidad sin previo aviso.
                </p>
                
            </ul>
        </section>

        <section>
            <h2>3. Pedidos y Pagos  </h2>
            <ul>
                
                <p>Los pedidos se consideran confirmados una vez que se recibe el pago completo. Aceptamos las siguientes formas de pago: [enumerar métodos de pago aceptados, como tarjetas de crédito, PayPal, etc.].
                </p>
                
            </ul>
        </section>

        <section>
            <h2>4. Envío y Entrega   </h2>
            <ul>
                
                <p>Realizamos envíos a [enumerar áreas de envío]. Los plazos de entrega pueden variar según la ubicación. No somos responsables por retrasos causados por terceros o condiciones fuera de nuestro control.
                </p>
                
            </ul>
        </section>

        <section>
            <h2>5. Política de Devoluciones </h2>
            <ul>
                
                <p>Debido a la naturaleza perecedera de nuestros productos, no aceptamos devoluciones. Si recibe un producto defectuoso, contáctenos dentro de [número de días] días para resolver el problema.
                </p>
                
            </ul>
        </section>

        <section>
            <h2>6. Propiedad Intelectual  </h2>
            <ul>
                
                <p>Todo el contenido de nuestro sitio web, incluyendo texto, imágenes y logotipos, es propiedad de [Nombre de la Empresa] y está protegido por leyes de propiedad intelectual. No se permite la reproducción sin nuestro consentimiento.
                </p>
                
            </ul>
        </section>

        <section>
            <h2>7. Modificaciones de Términos  </h2>
            <ul>
                
                <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones entrarán en vigencia inmediatamente después de su publicación en nuestro sitio. Su uso continuado del sitio implica la aceptación de los nuevos términos.
                </p>
                
            </ul>
        </section>
    </main>
    <a href="/" class="back-button" aria-label="Volver atrás">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 12H5M12 19l-7-7 7-7"/>
        </svg>
    </a>

</body>
</html>