{% extends 'layouts/base.html' %}
{% load static %}


{% block user %}
Cajero
{% endblock %}

{% block content %}

    
    <h2>VENTAS AL DETAL EN CAMPO</h2>
    
    <main>
        <div class="left-column">
            <a href="crear_pedido" class="button">
                <span>➕</span> 
                INGRESAR PEDIDO
            </a>
            <a href="pedidos" class="button">
                <span>✏️</span> 
                EDITAR PEDIDO
            </a>
            <a href="#" class="button">
                <span>❌</span> 
                CANCELAR PEDIDO
            </a>
        </div>
        <div class="right-column">
            <div class="icon">
                <img src="{% static 'images/entrega-rapida.png' %}" alt="Entrega">
            </div>
        </div>
    </main>

    <a href="javascript:void(0);" class="back-button" onclick="window.history.back();">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
    
{% endblock %}