{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <div class="container">
        <div class="background-pattern"></div>
        <div class="card">
            <div class="icon-container">
                <svg class="icon" viewBox="0 0 24 24">
                    <img src="{% static 'images/carrito-de-helados.png' %}" alt="carrito de helados" class="mi-imagen">
                </svg>
            </div>
            <br>
            <br>
            {% block content %}
            {% endblock %}
            
            <br>
            <div>
                <a href="/olvidar" style="color: white; text-decoration: none;">
                ¿Olvidaste tu contraseña?
                </a>
            </div>
            <br>
            <!-- Movemos el botón de retroceso aquí, dentro de .card -->
            <a href="/" class="back-button" aria-label="Volver atrás">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M19 12H5M12 19l-7-7 7-7" />
                </svg>
            </a>
        </div>
    </div>
</body>
</html>