body {
    padding-top: 88px; /* Ajusta según la altura de tu navbar */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}
.navbar {
    height: 80px;  /* Ajusta según la altura que quieras */
}

.navbar-toggler {
    display: block !important;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.custom-navbar {
    background-color: #3f51b5;  
}

.offcanvas-header {
    background-color: #3f51b5;
    color: white;
}
.offcanvas-body {
    background-color: #f5f5f5;
}
.offcanvas .nav-link {
    color: #3f51b5;
}

.dashboard-heading {
    font-size: 32px;
    font-weight: bold;
    color: black;
    padding: 24px 32px 32px;
    margin: 0;
}

header {
    padding: 10px 20px;
    background-color: #4A6FF0; /* Color azul */
    color: white;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 10px;
    border-radius: 50%; /* Hace el ícono redondo */
    width: 40px;
    height: 40px;
}

header h1 {
    font-size: 18px;
    margin: 0;
}

h2 {
    margin: 10px 10px; /* Espaciado para el saludo */
    text-align: center;
}

.card {
    border-radius: 33px;
    background-color: #7EB2FF; /* Color azul claro */
    text-align: center;
    transition: transform 0.2s ease; /* Animación suave al pasar el mouse */
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.card-img {
    width: 40px;
    height: 40px;
    margin: 20px auto;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
